:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", san-serif;
}
.bg-light {
  background: #f8f9fa;
}
.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
.navbar > .container {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}
.navbar-light .navbar-brand {
  font-family: var(--heading-font-family);
  color: #6c63ff;
}
.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0.55);
  border-color: rgba(0, 0, 0, 0.1);
}

h1 {
  color: black;
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}
.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #272142;
}
h1 {
  font-size: 96px;
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}
.hero h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  line-height: 1.5;
  font-size: 24px;
}
.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.col {
  flex: 1 0 0%;
}
@media (max-width: 900px) {
  .hero {
    padding: 80px 20px;
  }
  h1 {
    font-size: 44px;
    line-height: 2;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
  h2 {
    font-size: 44px;
  }
}
h2 {
  font-size: 64px;
}
.text-muted {
  color: #6c757d;
}
p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}
.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
footer {
  margin: 50px 0;
}
footer .work-box {
  background: var(--secondary-color);
  border-radius: 6px;
}
footer h4 {
  font-size: 30px;
}
footer .email-link {
  color: black;
  text-decoration: none;
  font-size: 26px;
}
footer .github {
  font-size: 12px;
}
footer .github-link {
  text-decoration: none;
  color: var(--branding-color);
}
